allzero_samples_are_invalid: false
base_run_dir: 
  /home/gsnearing/flood-forecasting/tutorial/model-runs/5-basin-example
batch_size: 256
cache:
  enabled: true
  byte_limit: 10000000000
clip_gradient_norm: 1
clip_targets_to_zero:
- streamflow
commit_hash: 473693b
dataset: multimet
detect_anomaly: false
device: cpu
dynamics_data_dir: gs:/caravan-multimet/v1.1
epochs: 25
experiment_name: finetune-13235000
finetune_modules:
- static_attributes_fc
- head
forecast_embedding:
  type: fc
  hiddens:
  - 20
  - 20
  - 20
  - 20
  activation:
  - tanh
  - tanh
  - tanh
  - linear
  dropout: 0.0
forecast_inputs:
  hres:
  - hres_temperature_2m
  - hres_total_precipitation
  graphcast:
  - graphcast_temperature_2m
  - graphcast_total_precipitation
forecast_overlap: 365
head: regression
hidden_size: 16
hindcast_embedding:
  type: fc
  hiddens:
  - 100
  - 20
  activation:
  - tanh
  - linear
  dropout: 0.0
hindcast_inputs:
  hres:
  - hres_temperature_2m
  - hres_total_precipitation
  imerg:
  - imerg_precipitation
  cpc:
  - cpc_precipitation
img_log_dir: 
  /home/gsnearing/flood-forecasting/tutorial/model-runs/5-basin-example/finetune-13235000/img_log
initial_forget_bias: 3
initial_learning_rate: 0.005
is_continue_training: false
is_finetuning: true
lead_time: 7
learning_rate_drop_factor: 0.9
learning_rate_epochs_drop: 5
learning_rate_strategy: StepLR
load_as_csv: false
log_loss_every_nth_update: 50
log_n_figures: 0
logging_level: INFO
loss: MSE
max_updates_per_epoch:
metrics:
- all
model: mean_embedding_forecast_lstm
num_workers: 2
number_of_basins: 1
optimizer: Adam
output_activation: linear
output_dropout: 0.4
package_version: 1.12.0
predict_last_n: 8
print_warnings_once: false
run_dir: 
  /home/gsnearing/flood-forecasting/tutorial/model-runs/5-basin-example/finetune-13235000
seed: 422911
seq_length: 365
static_attributes:
- area
- aridity_ERA5_LAND
- aridity_FAO_PM
- frac_snow
- moisture_index_ERA5_LAND
- moisture_index_FAO_PM
- p_mean
- pet_mean_ERA5_LAND
- pet_mean_FAO_PM
statics_data_dir: /home/gsnearing/flood-forecasting/tutorial/Caravan-nc
statics_embedding:
  type: fc
  hiddens:
  - 100
  - 100
  - 20
  activation:
  - tanh
  - tanh
  - linear
  dropout: 0.0
target_noise_std: 0.005
target_variables:
- streamflow
targets_data_dir: /home/gsnearing/flood-forecasting/tutorial/Caravan-nc
test_basin_file: 
  /home/gsnearing/flood-forecasting/tutorial/basin-lists/8-basin-test.txt
test_end_date: 31/12/2024
test_start_date: 01/01/2022
tester_sample_reduction: median
tester_skip_obs_all_nan: true
timestep_counter: true
train_basin_file: 
  /home/gsnearing/flood-forecasting/tutorial/basin-lists/camels-13235000.txt
train_dir: 
  /home/gsnearing/flood-forecasting/tutorial/model-runs/5-basin-example/finetune-13235000/train_data
train_end_date: 31/12/2020
train_start_date: 01/01/2000
union_mapping:
  cpc_precipitation: era5land_total_precipitation
  imerg_precipitation: era5land_total_precipitation
  graphcast_temperature_2m: era5land_temperature_2m
  graphcast_total_precipitation: era5land_total_precipitation
  hres_temperature_2m: era5land_temperature_2m
  hres_total_precipitation: era5land_total_precipitation
validate_every:
validate_n_random_basins: -1
validation_basin_file: 
  /home/gsnearing/flood-forecasting/tutorial/basin-lists/camels-13235000.txt
validation_end_date: 31/12/2024
validation_start_date: 01/01/2022
weight_init_opts:
- lstm-ih-xavier
- lstm-hh-orthogonal
- fc-xavier
