# --- Training Parameters -------------------------------------------------------
batch_size: 256
epochs: 6
experiment_name: mean_embedding_forecast_lstm
clip_gradient_norm: 1
clip_targets_to_zero:
- streamflow
learning_rate:
  0: 0.0005
  20: 0.0001
max_updates_per_epoch: 10
metrics:
- NSE
- KGE
- Alpha-NSE
- Beta-NSE
- Beta-KGE
- Peak-Timing
- Missed-Peaks
num_workers: 24
optimizer: Adam
validate_every: 1
validate_n_random_basins: 10
predict_last_n: 8

# --- Dataset Parameters --------------------------------------------------------
train_basin_file: ~/neuralhydrology/config/caravan_3_basins.txt
validation_basin_file: ~/neuralhydrology/config/caravan_3_basins.txt
test_basin_file: ~/neuralhydrology/config/caravan_3_basins.txt
# train_basin_file: ~/neuralhydrology/config/caravan_and_multimet_basins.txt
# validation_basin_file: ~/neuralhydrology/config/caravan_and_multimet_basins.txt
# test_basin_file: ~/neuralhydrology/config/caravan_and_multimet_basins.txt

train_end_date: 30/09/2017
train_start_date: 01/10/2012
validation_end_date: 30/09/2022
validation_start_date: 01/10/2017
test_end_date: 30/09/2022
test_start_date: 01/10/2017

# data_dir: ~/neuralhydrology/data/Caravan-multimet
targets_data_dir: ~/neuralhydrology/data/Caravan-nc
statics_data_dir: ~/neuralhydrology/data/Caravan-nc
forecasts_data_dir: ~/neuralhydrology/data/Caravan-multimet
hindcasts_data_dir: ~/neuralhydrology/data/Caravan-multimet

dataset: multimet
seq_length: 365
lead_time: 7
dynamic_inputs:
- - graphcast_temperature_2m
  - graphcast_total_precipitation
  - graphcast_u_component_of_wind_10m
  - graphcast_v_component_of_wind_10m
- - era5land_dewpoint_temperature_2m
  - era5land_potential_evaporation_FAO_PENMAN_MONTEITH
  - era5land_snow_depth_water_equivalent
  - era5land_surface_net_solar_radiation
  - era5land_surface_net_thermal_radiation
  - era5land_surface_pressure
  - era5land_temperature_2m
  - era5land_total_precipitation
  - era5land_u_component_of_wind_10m
  - era5land_v_component_of_wind_10m
  - era5land_volumetric_soil_water_layer_1
  - era5land_volumetric_soil_water_layer_2
  - era5land_volumetric_soil_water_layer_3
  - era5land_volumetric_soil_water_layer_4
- - chirps_precipitation
- - imerg_precipitation
- - cpc_precipitation
forecast_inputs:
- hres_surface_net_solar_radiation
- hres_surface_net_thermal_radiation
- hres_surface_pressure
- hres_temperature_2m
- hres_total_precipitation
- graphcast_temperature_2m
- graphcast_total_precipitation
- graphcast_u_component_of_wind_10m
- graphcast_v_component_of_wind_10m
hindcast_inputs:
- era5land_dewpoint_temperature_2m
- era5land_potential_evaporation_FAO_PENMAN_MONTEITH
- era5land_snow_depth_water_equivalent
- era5land_surface_net_solar_radiation
- era5land_surface_net_thermal_radiation
- era5land_surface_pressure
- era5land_temperature_2m
- era5land_total_precipitation
- era5land_u_component_of_wind_10m
- era5land_v_component_of_wind_10m
- era5land_volumetric_soil_water_layer_1
- era5land_volumetric_soil_water_layer_2
- era5land_volumetric_soil_water_layer_3
- era5land_volumetric_soil_water_layer_4
- chirps_precipitation
- imerg_precipitation
- cpc_precipitation
static_attributes:
- area
- p_mean
- pet_mean_ERA5_LAND
- pet_mean_FAO_PM
- aridity_ERA5_LAND
- aridity_FAO_PM
- frac_snow
- moisture_index_ERA5_LAND
- moisture_index_FAO_PM
- seasonality_ERA5_LAND
- seasonality_FAO_PM
- high_prec_freq
- high_prec_dur
- low_prec_freq
- low_prec_dur
- pet_mm_syr
- ele_mt_smx
- pre_mm_syr
target_noise_std: 0.005
target_variables:
- streamflow
# - volumetric_soil_water_layer_1_mean

# --- Model Parameters ----------------------------------------------------------
model: mean_embedding_forecast_lstm
forecast_overlap: 365
bidirectional_stacked_forecast_lstm: True

### head ###
loss: CMALLoss
head: cmal
# loss: NSE
# head: regression
n_distributions: 3
n_samples: 100  # https://hess.copernicus.org/articles/26/1673/2022/#App1.Ch1.S2.SS2:~:text=each%20time%20step%20we%20compute%207500%C2%A0samples
negative_sample_handling: clip  # https://hess.copernicus.org/articles/26/1673/2022/#App1.Ch1.S2.SS2:~:text=The%20%E2%80%9Cclipping%E2%80%9D%20sign%20emphasizes%20our%20choice%20to%20set%20samples%20that%20would%20be%20below%20zero%20back%20to%20the%20zero%2Drunoff%20baseline
mc_dropout: True  # https://hess.copernicus.org/articles/26/1673/2022/#App1.Ch1.S2.SS2:~:text=2.3.2-,Monte%20Carlo%20dropout,-MCD%20provides%20an

hidden_size: 128
initial_forget_bias: 3
output_activation: linear
output_dropout: 0.4
timestep_counter: True
run_dir: ~/neuralhydrology/runs
dynamics_embedding:
  activation: tanh
  dropout: 0.0
  hiddens:
  - 32
  - 16
  - 8
statics_embedding:
  activation: tanh
  dropout: 0.0
  hiddens:
  - 128
  - 64
  - 32
