# --- Training Parameters -------------------------------------------------------
batch_size: 256
epochs: 5
experiment_name: sequential_forecast_lstm
clip_gradient_norm: 1
clip_targets_to_zero:
- streamflow
loss: NSE
learning_rate:
  0: 0.001
  10: 0.0005
  25: 0.0001
max_updates_per_epoch:
metrics:
- NSE
- KGE
- Alpha-NSE
- Beta-NSE
- Beta-KGE
- Peak-Timing
- Missed-Peaks
num_workers: 2
optimizer: Adam
validate_every: 1
validate_n_random_basins: -1
predict_last_n: 8

# --- Dataset Parameters --------------------------------------------------------
train_basin_file: /usr/local/google/home/amarkel/nh/neuralhydrology/config/caravan_3_basins.txt
validation_basin_file: /usr/local/google/home/amarkel/nh/neuralhydrology/config/caravan_3_basins.txt
test_basin_file: /usr/local/google/home/amarkel/nh/neuralhydrology/config/caravan_3_basins.txt

train_end_date: 30/09/2017
train_start_date: 01/10/2012
validation_end_date: 30/09/2022
validation_start_date: 01/10/2017
test_end_date: 30/09/2022
test_start_date: 01/10/2017

# data_dir: /usr/local/google/home/amarkel/nh/neuralhydrology/data/Caravan-multimet
targets_data_dir: /usr/local/google/home/amarkel/nh/neuralhydrology/data/Caravan-nc
statics_data_dir: /usr/local/google/home/amarkel/nh/neuralhydrology/data/Caravan-nc
forecasts_data_dir: /usr/local/google/home/amarkel/nh/neuralhydrology/data/Caravan-multimet
hindcasts_data_dir: /usr/local/google/home/amarkel/nh/neuralhydrology/data/Caravan-multimet

dataset: multimet
seq_length: 365
lead_time: 7
dynamic_inputs:
- - graphcast_temperature_2m
  - graphcast_total_precipitation
  - graphcast_u_component_of_wind_10m
  - graphcast_v_component_of_wind_10m
- - era5land_dewpoint_temperature_2m
  - era5land_potential_evaporation_FAO_PENMAN_MONTEITH
  - era5land_snow_depth_water_equivalent
  - era5land_surface_net_solar_radiation
  - era5land_surface_net_thermal_radiation
  - era5land_surface_pressure
  - era5land_temperature_2m
  - era5land_total_precipitation
  - era5land_u_component_of_wind_10m
  - era5land_v_component_of_wind_10m
  - era5land_volumetric_soil_water_layer_1
  - era5land_volumetric_soil_water_layer_2
  - era5land_volumetric_soil_water_layer_3
  - era5land_volumetric_soil_water_layer_4
- - chirps_precipitation
- - imerg_precipitation
- - cpc_precipitation
forecast_inputs:
- graphcast_temperature_2m
- graphcast_total_precipitation
- graphcast_u_component_of_wind_10m
- graphcast_v_component_of_wind_10m
hindcast_inputs:
- era5land_dewpoint_temperature_2m
- era5land_potential_evaporation_FAO_PENMAN_MONTEITH
- era5land_snow_depth_water_equivalent
- era5land_surface_net_solar_radiation
- era5land_surface_net_thermal_radiation
- era5land_surface_pressure
- era5land_temperature_2m
- era5land_total_precipitation
- era5land_u_component_of_wind_10m
- era5land_v_component_of_wind_10m
- era5land_volumetric_soil_water_layer_1
- era5land_volumetric_soil_water_layer_2
- era5land_volumetric_soil_water_layer_3
- era5land_volumetric_soil_water_layer_4
- chirps_precipitation
- imerg_precipitation
- cpc_precipitation
static_attributes:
- area
- p_mean
# - pet_mean
# - aridity
- frac_snow
# - moisture_index
# - seasonality
- high_prec_freq
- high_prec_dur
- low_prec_freq
- low_prec_dur
- pet_mm_syr
- ele_mt_smx
- pre_mm_syr
target_noise_std: 0.005
target_variables:
- streamflow
# - volumetric_soil_water_layer_1_mean

# --- Model Parameters ----------------------------------------------------------
model: sequential_forecast_lstm
head: regression
hidden_size: 128
initial_forget_bias: 3
output_activation: linear
output_dropout: 0.4
timestep_counter: True
run_dir: /usr/local/google/home/amarkel/nh/neuralhydrology/runs
nan_handling_method: masked_mean
nan_handling_pos_encoding_size: 10
dynamics_embedding:
  activation: tanh
  dropout: 0.0
  hiddens:
  - 32
  - 16
  - 8
statics_embedding:
  activation: tanh
  dropout: 0.0
  hiddens:
  - 128
  - 64
  - 32
