logging_level: INFO
detect_anomaly: False

# --- Training Parameters -------------------------------------------------------
# batch_size: 256
batch_size: 512
epochs: 30
experiment_name: mean_embedding_forecast_lstm
clip_gradient_norm: 1
clip_targets_to_zero:
- streamflow
learning_rate:
  0: 0.0005
# max_updates_per_epoch:
max_updates_per_epoch: 2000
metrics:
- NSE
- KGE
- Alpha-NSE
- Beta-NSE
- Beta-KGE
- Peak-Timing
- Missed-Peaks
num_workers: 0  # Scalene profiler works only without multiprocessing (`0`)
optimizer: Adam
validate_every: 2
validate_n_random_basins: 12
predict_last_n: 8
log_n_figures: 5

# --- Dataset Parameters --------------------------------------------------------
# train_basin_file: ~/neuralhydrology/config/basins/caravan_3_basins.txt
# validation_basin_file: ~/neuralhydrology/config/basins/caravan_3_basins.txt
# test_basin_file: ~/neuralhydrology/config/basins/caravan_3_basins.txt

# train_basin_file: ~/neuralhydrology/config/basins/intersections/50_0.txt
# validation_basin_file: ~/neuralhydrology/config/basins/intersections/50_0.txt
# test_basin_file: ~/neuralhydrology/config/basins/intersections/50_0.txt

train_basin_file: ~/neuralhydrology/config/basins/caravan/lamah.txt
validation_basin_file: ~/neuralhydrology/config/basins/caravan/lamah.txt
test_basin_file: ~/neuralhydrology/config/basins/caravan/lamah.txt

# train_basin_file: ~/neuralhydrology/config/basins/intersections/0_0.txt
# validation_basin_file: ~/neuralhydrology/config/basins/intersections/0_0.txt
# test_basin_file: ~/neuralhydrology/config/basins/intersections/0_0.txt

train_end_date: 01/10/2017
train_start_date: 01/01/1980

validation_end_date: 31/12/2018
validation_start_date: 01/10/2017

test_end_date: 31/12/2018
test_start_date: 01/10/2017
tester_skip_obs_all_nan: True

# data_dir: ~/nh-data/data/Caravan-multimet
targets_data_dir: ~/nh-data/data/Caravan-nc
statics_data_dir: ~/nh-data/data/Caravan-nc
forecasts_data_dir: ~/nh-data/data/Caravan-multimet
hindcasts_data_dir: ~/nh-data/data/Caravan-multimet

dataset: multimet
seq_length: 365
lead_time: 7
forecast_inputs:
- hres_surface_net_solar_radiation
- hres_surface_net_thermal_radiation
- hres_surface_pressure
- hres_temperature_2m
- hres_total_precipitation
- graphcast_temperature_2m
- graphcast_total_precipitation
- graphcast_u_component_of_wind_10m
- graphcast_v_component_of_wind_10m
hindcast_inputs:
- imerg_precipitation
- cpc_precipitation
static_attributes:
- area
- p_mean
- pet_mean_ERA5_LAND
- pet_mean_FAO_PM
- aridity_ERA5_LAND
- aridity_FAO_PM
- frac_snow
- moisture_index_ERA5_LAND
- moisture_index_FAO_PM
- seasonality_ERA5_LAND
- seasonality_FAO_PM
- high_prec_freq
- high_prec_dur
- low_prec_freq
- low_prec_dur
- pet_mm_syr
- ele_mt_smx
- pre_mm_syr
target_noise_std: 0.005
target_variables:
- streamflow
# - volumetric_soil_water_layer_1_mean
union_mapping:
  # Precipitation nowcast features.
  cpc_precipitation: era5land_total_precipitation
  imerg_precipitation: era5land_total_precipitation
  # Graphcast forecast features.
  graphcast_temperature_2m: era5land_temperature_2m
  graphcast_total_precipitation: era5land_total_precipitation
  graphcast_u_component_of_wind_10m: era5land_u_component_of_wind_10m
  graphcast_v_component_of_wind_10m: era5land_v_component_of_wind_10m
  # IFS forecast features.
  hres_surface_net_solar_radiation: era5land_surface_net_solar_radiation
  hres_surface_net_thermal_radiation: era5land_surface_net_thermal_radiation
  hres_surface_pressure: era5land_surface_pressure
  hres_temperature_2m: era5land_temperature_2m
  hres_total_precipitation: era5land_total_precipitation


# --- Model Parameters ----------------------------------------------------------
model: mean_embedding_forecast_lstm
forecast_overlap: 365

### head ###
loss: CMALLoss
head: cmal
# loss: NSE
# head: regression
n_distributions: 3
#n_samples: 7500  # https://hess.copernicus.org/articles/26/1673/2022/#App1.Ch1.S2.SS2:~:text=each%20time%20step%20we%20compute%207500%C2%A0samples
n_samples: 100  # https://hess.copernicus.org/articles/26/1673/2022/#App1.Ch1.S2.SS2:~:text=each%20time%20step%20we%20compute%207500%C2%A0samples
negative_sample_handling: clip  # https://hess.copernicus.org/articles/26/1673/2022/#App1.Ch1.S2.SS2:~:text=The%20%E2%80%9Cclipping%E2%80%9D%20sign%20emphasizes%20our%20choice%20to%20set%20samples%20that%20would%20be%20below%20zero%20back%20to%20the%20zero%2Drunoff%20baseline
# mc_dropout: True  # https://hess.copernicus.org/articles/26/1673/2022/#App1.Ch1.S2.SS2:~:text=2.3.2-,Monte%20Carlo%20dropout,-MCD%20provides%20an

hidden_size: 512
initial_forget_bias: 3
output_activation: linear
output_dropout: 0.4
timestep_counter: True
run_dir: ~/nh-data/runs
