# Copyright 2025 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# --- Training Parameters -------------------------------------------------------
batch_size: 256
epochs: 30
experiment_name: multimet_handoff_forecast_lstm
clip_gradient_norm: 1
clip_targets_to_zero:
- streamflow
loss: NSE
learning_rate_strategy: StepLR
initial_learning_rate: 0.001
learning_rate_drop_factor: 0.2
learning_rate_epochs_drop: 10
max_updates_per_epoch:
metrics:
- NSE
- KGE
- Alpha-NSE
- Beta-NSE
- Beta-KGE
- Peak-Timing
- Missed-Peaks
num_workers: 2
optimizer: Adam
validate_every: 1
validate_n_random_basins: -1
predict_last_n: 8
regularization:
- forecast_overlap
log_loss_every_nth_update: 8
use_xavier_init: False
 
# --- Dataset Parameters --------------------------------------------------------
train_basin_file: ~/flood-forecasting/config/basins/caravan_3_basins.txt
validation_basin_file: ~/flood-forecasting/config/basins/caravan_3_basins.txt
test_basin_file: ~/flood-forecasting/config/basins/caravan_3_basins.txt

train_end_date: 30/09/2017
train_start_date: 01/10/2012
validation_end_date: 30/09/2022
validation_start_date: 01/10/2017
test_end_date: 30/09/2022
test_start_date: 01/10/2017

targets_data_dir: ~/nh-data/data/Caravan-nc # Point to your local path. Must be read locally.
statics_data_dir: ~/nh-data/data/Caravan-nc # Point to your local path. Must be read locally.
dynamics_data_dir: ~/nh-data/data/Caravan-multimet  # Can read directly from the Cloud bucket, if you have cloud access.

dataset: multimet
seq_length: 365
lead_time: 7
dynamic_inputs:
- - graphcast_temperature_2m
  - graphcast_total_precipitation
  - graphcast_u_component_of_wind_10m
  - graphcast_v_component_of_wind_10m
- - era5land_dewpoint_temperature_2m
  - era5land_potential_evaporation_FAO_PENMAN_MONTEITH
  - era5land_snow_depth_water_equivalent
  - era5land_surface_net_solar_radiation
  - era5land_surface_net_thermal_radiation
  - era5land_surface_pressure
  - era5land_temperature_2m
  - era5land_total_precipitation
  - era5land_u_component_of_wind_10m
  - era5land_v_component_of_wind_10m
  - era5land_volumetric_soil_water_layer_1
  - era5land_volumetric_soil_water_layer_2
  - era5land_volumetric_soil_water_layer_3
  - era5land_volumetric_soil_water_layer_4
- - chirps_precipitation
- - imerg_precipitation
- - cpc_precipitation
forecast_inputs:
- graphcast_temperature_2m
- graphcast_total_precipitation
- graphcast_u_component_of_wind_10m
- graphcast_v_component_of_wind_10m
hindcast_inputs:
- era5land_dewpoint_temperature_2m
- era5land_potential_evaporation_FAO_PENMAN_MONTEITH
- era5land_snow_depth_water_equivalent
- era5land_surface_net_solar_radiation
- era5land_surface_net_thermal_radiation
- era5land_surface_pressure
- era5land_temperature_2m
- era5land_total_precipitation
- era5land_u_component_of_wind_10m
- era5land_v_component_of_wind_10m
- era5land_volumetric_soil_water_layer_1
- era5land_volumetric_soil_water_layer_2
- era5land_volumetric_soil_water_layer_3
- era5land_volumetric_soil_water_layer_4
# - chirps_precipitation
- imerg_precipitation
- cpc_precipitation
static_attributes:
- area
- p_mean
- pet_mean_ERA5_LAND
- pet_mean_FAO_PM
- aridity_ERA5_LAND
- aridity_FAO_PM
- frac_snow
- moisture_index_ERA5_LAND
- moisture_index_FAO_PM
- seasonality_ERA5_LAND
- seasonality_FAO_PM
- high_prec_freq
- high_prec_dur
- low_prec_freq
- low_prec_dur
- pet_mm_syr
- ele_mt_smx
- pre_mm_syr
target_noise_std: 0.005
target_variables:
- streamflow
# - volumetric_soil_water_layer_1_mean

# --- Model Parameters ----------------------------------------------------------
model: handoff_forecast_lstm
forecast_overlap: 10
head: regression
hidden_size: 128
initial_forget_bias: 3
output_activation: linear
output_dropout: 0.4
timestep_counter: False
run_dir: ~/nh-data/runs

state_handoff_network:
  activation: tanh
  dropout: 0.0
  hiddens:
    - 30
    - 20
    - 64

statics_embedding:
  type: fc
  # define number of neurons per layer in the FC network used as embedding network
  hiddens:
    - 30
    - 20
    - 64
  # activation function of embedding network
  activation: tanh
  # dropout applied to embedding network
  dropout: 0.0

# define embedding network for dynamic inputs
dynamics_embedding:
  type: fc
  # define number of neurons per layer in the FC network used as embedding network
  hiddens:
    - 30
    - 20
    - 64
  # activation function of embedding network
  activation: tanh
  # dropout applied to embedding network
  dropout: 0.0
