# --- Training Parameters -------------------------------------------------------
batch_size: 256
epochs: 5
experiment_name: multimet_cudalstm
clip_gradient_norm: 1
clip_targets_to_zero:
- streamflow
loss: NSE
learning_rate:
  0: 0.001
  10: 0.0005
  25: 0.0001
max_updates_per_epoch:
metrics:
- NSE
- KGE
- Alpha-NSE
- Beta-NSE
- Beta-KGE
- Peak-Timing
- Missed-Peaks
num_workers: 2
optimizer: Adam
validate_every: 1
validate_n_random_basins: -1
predict_last_n: 1

# custom_normalization:
#  graphcast_temperature_2m:
#   centering: none
#   scaling: none
#  graphcast_total_precipitation:
#   centering: none
#   scaling: none
#  graphcast_u_component_of_wind_10m:
#   centering: none
#   scaling: none
#  graphcast_v_component_of_wind_10m:
#   centering: none
#   scaling: none
#  era5land_dewpoint_temperature_2m:
#   centering: none
#   scaling: none
#  era5land_potential_evaporation_FAO_PENMAN_MONTEITH:
#   centering: none
#   scaling: none
#  era5land_snow_depth_water_equivalent:
#   centering: none
#   scaling: none
#  era5land_surface_net_solar_radiation:
#   centering: none
#   scaling: none
#  era5land_surface_net_thermal_radiation:
#   centering: none
#   scaling: none
#  era5land_surface_pressure:
#   centering: none
#   scaling: none
#  era5land_temperature_2m:
#   centering: none
#   scaling: none
#  era5land_total_precipitation:
#   centering: none
#   scaling: none
#  era5land_u_component_of_wind_10m:
#   centering: none
#   scaling: none
#  era5land_v_component_of_wind_10m:
#   centering: none
#   scaling: none
#  era5land_volumetric_soil_water_layer_1:
#   centering: none
#   scaling: none
#  era5land_volumetric_soil_water_layer_2:
#   centering: none
#   scaling: none
#  era5land_volumetric_soil_water_layer_3:
#   centering: none
#   scaling: none
#  era5land_volumetric_soil_water_layer_4:
#   centering: none
#   scaling: none
#  chirps_precipitation:
#   centering: none
#   scaling: none
#  imerg_precipitation:
#   centering: none
#   scaling: none
#  cpc_precipitation:
#   centering: none
#   scaling: none
#  streamflow:
#   centering: none
#   scaling: none
 
# --- Dataset Parameters --------------------------------------------------------
train_basin_file: ~/neuralhydrology/config/caravan_3_basins.txt
validation_basin_file: ~/neuralhydrology/config/caravan_3_basins.txt
test_basin_file: ~/neuralhydrology/config/caravan_3_basins.txt

train_end_date: 30/09/2017
train_start_date: 01/10/2012
validation_end_date: 30/09/2022
validation_start_date: 01/10/2017
test_end_date: 30/09/2022
test_start_date: 01/10/2017

targets_data_dir: ~/neuralhydrology/data/Caravan-nc
statics_data_dir: ~/neuralhydrology/data/Caravan-nc
forecasts_data_dir: ~/neuralhydrology/data/Caravan-multimet
hindcasts_data_dir: ~/neuralhydrology/data/Caravan-multimet

dataset: multimet
seq_length: 365
lead_time: 0
dynamic_inputs:
- era5land_temperature_2m
- era5land_total_precipitation
- era5land_u_component_of_wind_10m
- era5land_v_component_of_wind_10m
static_attributes:
- area
- p_mean
#- pet_mean
#- aridity
- frac_snow
#- moisture_index
#- seasonality
- high_prec_freq
- high_prec_dur
- low_prec_freq
- low_prec_dur
- pet_mm_syr
- ele_mt_smx
- pre_mm_syr
target_noise_std: 0
target_variables:
- streamflow
# - volumetric_soil_water_layer_1_mean

# --- Model Parameters ----------------------------------------------------------
model: cudalstm
head: regression
hidden_size: 128
initial_forget_bias: 3
output_activation: linear
output_dropout: 0.4
timestep_counter: False
run_dir: ~/neuralhydrology/runs
# nan_handling_method: masked_mean
# nan_handling_pos_encoding_size: 10
statics_embedding:
  type: fc
  # define number of neurons per layer in the FC network used as embedding network
  hiddens:
    - 30
    - 20
    - 64
  # activation function of embedding network
  activation: tanh
  # dropout applied to embedding network
  dropout: 0.0

# define embedding network for dynamic inputs
dynamics_embedding:
  type: fc
  # define number of neurons per layer in the FC network used as embedding network
  hiddens:
    - 30
    - 20
    - 64
  # activation function of embedding network
  activation: tanh
  # dropout applied to embedding network
  dropout: 0.0
